div {
    direction: rtl;
    margin-right: 1090px;
    font-size: 50px;
}

svg:hover,
svg:nth-child(1):hover ~ svg,
svg:nth-child(2):hover ~ svg,
svg:nth-child(3):hover ~ svg,
svg:nth-child(4):hover ~ svg,
svg:nth-child(5):hover ~ svg {
    color: red;
}









