body {
    background-color: #f3f3f3;
    font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
}

header,
footer {
    overflow: hidden;
    background-color: #232f3f;
    width: 1890px;
}

.img-aws-logo {
    margin-left: 30px;
    width: 57px;
    height: 40px;
    float: left;
}

.text-sevices {
    font-size: 14px;
    margin-left: 30px;
    padding-top: 8px;
    float: left;
}

.header-icon {
    width: 32px;
    height: 28px;
    padding-top: 5px;
}


.bell-regular {
    float: right;
    margin-right: 327px;
}

.text-support {
    float: right;
}

header {
    height: 40px;
    color: #d4dada;
    font-size: 12px;
}

main {
    margin-left: 177px;
    width: 1081px;
    height: 1535px;
    float: left;
    overflow: hidden;
}

.main-one {
    height: 131px;
    font-size: 40px;
}

.main-two {
}

.main-two-one,
.main-two-two,
.main-two-three {
    border-bottom: 1px solid black;
}

.main-two-three,
.main-three-two,
.main-four-two {
    overflow: hidden;
}

.main-two-four {
    overflow: hidden;
}

.main-two-two,
.main-two-three,
.main-two-four {
    font-size: 14px;
}

.main-two-one {
    height: 58px;
    background-color: #fafafa;
    padding-left: 20px;
}

.main-two-two {
    padding-left: 20px;
}

div.main-two-two > span,
div.main-three-one > span,
div.main-four-one > span {
    font-size: 12px;
    color: #cfcfc5;
}

div.main-two-two > div > input[type=text] {
    width: 1020px;
}

.img-main-two-three {
    width: 30px;
    height: 20px;
    padding-left: 20px;
    float: left;

}

.main-two-three-div-one {
    margin-left: 40px;
    width: 200px;
    float: left;
}

.main-two-three-div-two,
.main-two-three-div-three {
    float: left;
    width: 200px;
}

.img-recently-visited-services {
    width: 20px;
    height: 20px;
}

.img-div-main-two-three {
    float: left;
}

.main-three {
    margin-top: 21px;
}

.main-three-one,
.main-three-two {
    border-bottom: 1px solid black;
}

.main-three-one {
    background-color: #fafafa;
    padding-left: 20px;
}

.div-one-main-three-two,
.div-two-main-three-two,
.div-three-main-three-two,
.div-four-main-three-two {
    padding-left: 20px;
    float: left;
}

.text-blue {
    color: #6aa1c1;
}

.text-grey {
    color: #cfcfc5;
}

.img-main-three-two {
    width: 60px;
    height: 60px;
}

.main-four {
    margin-top: 21px;
}

.main-four-one {
    background-color: #fafafa
}

.main-four-one,
.main-four-two {
    border-bottom: 1px solid black;
}

.main-four-one,
.main-four-three {
    padding-left: 20px;
}

aside {
    width: 452px;
    margin-left: 1278px;
    margin-top: 131px;
}

.aside-img {
    float: left;
    width: 30px;
    height: 30px;
}

.aside-one-one,
.aside-two-one,
.aside-three-one {
    background-color: #fafafa
}

.aside-one-one,
.aside-one-two {
    border-bottom: 1px solid black;
}

.aside-two-one {
    border-bottom: 1px solid black;
}

.aside-three-one {
    height: 21px;
}

.aside-three-two {
    width: 452px;
    height: 87px;
}

div.aside-three-two > div {
    margin: 0 auto;
}

.main-two-two,
.main-two-three,
.main-two-four,
.main-three-two,
.main-three-three,
.main-four-two,
.main-four-three,
.aside-one-two,
.aside-two-two,
.aside-two-twoaside-three-two {
    background-color: #ffffff;
}

footer {
    clear: both;
    height: 33px;
}
