table {
    border-spacing: 0;
}

td {
    width: 20px;
    height: 20px;
    border: .5px solid gray;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}

tr:nth-child(even) td:first-child,
tr:nth-child(even) td:last-child,
tr:nth-child(odd) td:first-child,
tr:nth-child(odd) td:last-child {
    background-color: chartreuse;
    width: 10px;
}

tr:first-child td:nth-child(odd),
tr:first-child td:nth-child(even),
tr:last-child td:nth-child(odd),
tr:last-child td:nth-child(even) {
    background-color: chartreuse;
    height: 10px;
}