html {
    font-size: 32px;
}

body {
    font-size: 0.5rem;
    font-family: Piazzolla, 'Times New Roman', Times, serif;
}

h1 {
    color: #565759;
}

h2 {
    text-align: center;
    color: #BF8969;
}

h1, h2 {
    font-family: Commissioner, Arial, Helvetica, sans-serif;
}

p {
    text-indent: 20px;
}

span {
    font-variant: small-caps;
    word-spacing: 4px;
}

ul {
    list-style-type: circle;
    font-weight: bold;
}

ol {
    color: rgba(86, 87, 89, 1);
    font-style: italic;
    border: 1px solid #565759; width: 300px;
}

code {
    white-space: pre;
}

.one {
    width: 250px;
    height: 250px;
}

.two {
    width: 100px;
    height: 100px;
}

.three {
    text-align: center;
}

.four {
    color: rgba(37, 37, 38, 1);
}

footer {
    color: rgba(217, 165, 119, .85);
    letter-spacing: 6px;
    line-height: 2px;
}