body {
    font-family: Helvetica, Arial, sans-serif;
}

span {
    width: 100%;
}

body > div:nth-child(2) {
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 500px;
}

img[alt=superman],
img[alt=joker],
img[alt=batman],
img[alt=dc_logo] {
    position: absolute;
    width: 200px;
}

img[alt=superman] {
    height: 257px;
    left: 50px;
    top: 150px;
}

img[alt=joker] {
    height: 279px;
    left: 150px;
    top: 100px;
}

img[alt=batman] {
    height: 215px;
    left: 250px;
    top: 190px;
}

img[alt=dc_logo] {
    height: 200px;
    left: 150px;
    top: 150px;
}

img[alt=superman]:hover,
img[alt=joker]:hover,
img[alt=batman]:hover {
    z-index: 1;
    width: 230px;
}

img[alt=superman]:hover {
    height: 287px;
    left: 20px;
    top: 120px;
}

img[alt=joker]:hover {
    left: 140px;
    top: 70px;
    height: 309px;
}

img[alt=batman]:hover {
    left: 220px;
    top: 160px;
    height: 245px;
}

body > div:nth-child(3) {
    position: fixed;
    bottom: 50%;
    right: 1px;
    font-size: 40px;
}