body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

.indent-left-one {
    width: 140px;
}

.indent-top-one,
.indent-top-two {
    width: 550px;
    height: 80px;
}

.indent-right {
    width: 110px;
    height: 1720px;
}

.indent-left-two {
    height: 1212px;
}

.indent-bottom {
    height: 120px;
}

.cell-invoice {
    font-size: 55px;
    letter-spacing: 14px;
    line-height: 60px;
}

.number-in-invoice {
    letter-spacing: normal;
}

.indent-left-one,
.indent-top-one,
.cell-invoice,
.cell-date-one {
    background-color: #7ac1dd;
}

.cell-date-one,
.cell-due-date,
.cell-website-lorem-ipsum,
.cell-branding-lorem-ipsum,
.cell-payment-inf,
.cell-payment-terms {
    vertical-align: top;
}

.line-in-cell-amount,
.line-in-cell-bill-to {
    border-top: 2px solid #9ccad9;    
}

.line-in-cell-amount {
    width: 165px;
    margin-bottom: 40px;
}

.line-in-cell-bill-to {
    width: 165px;
}

.cell-invoice,
.cell-date-one,
.cell-description,
.cell-website,
.cell-website-lorem-ipsum,
.cell-branding,
.cell-branding-lorem-ipsum {
    padding-left: 20px;
}

.cell-total-amount,
.cell-due-date,
.cell-bill-to {
    padding-left: 110px;
}

.cell-seller-contacts {
    background-color: #93cce0;
    height: 236px;
    padding-left: 160px;
    line-height: 30px;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: 476px 36px;
}

.white-middle-line {
    height: 80px;
}

.header-rate,
.header-hours,
.header-subtotal,
.cell-description {
    color: #7ac1dd;
}

.header-rate,
.header-hours,
.header-subtotal {
    text-align: right;
}

.cell-description {
    text-align: left;
}

.values-color,
.values-without-color {
    text-align: right;
    vertical-align: top;
}

.cell-website,
.cell-website-lorem-ipsum,
.values-color {
    background-color: #eef6f9;
}

.cell-fee,
.cell-fee-lorem-ipsum {
    background-color: #badbea;
}

.cell-fee {
    vertical-align: middle;
    padding-left: 30px;
}

.cell-total-amount-bottom {
    background-color: #d3e7f2;
    vertical-align: middle;
    padding-left: 70px;
}

span {
    font-size: 55px;
}

.cell-fee-lorem-ipsum {
    font-size: 16px;
    vertical-align: middle;
    padding-left: 30px;
}

.cell-lorem-ipsum-bottom,
.cell-id-john-bottom {
    font-size: 16px;
}

.bottom-white-line {
    height: 70px;
}

.cell-id-john-bottom,
.cell-lorem-ipsum-bottom,
.name-bottom,
.title-bottom {
    vertical-align: bottom;
}

.line-in-name-and-bottom {
    border-top: 1px solid #d3e7f2;
    font-size: 16px;
    text-align: center;
}