svg {
    width: 600px;
    height: 600px;
}

body > svg > g:nth-child(1) {
    fill: #36c5f0;
}

body > svg > g:nth-child(2) {
    fill: #2eb67d;
}

body > svg > g:nth-child(3) {
    fill: #e01e5a;
}

body > svg > g:nth-child(4) {
    fill: #ecb22e;
}