body > div {
    float: left;
    overflow: hidden;
}

body > div:nth-child(1) > div,
body > div:nth-child(2) > div,
body > div:nth-child(3) > div,
body > div:nth-child(4) > div {
    border-right: 2px solid #F5221E;
    width: 175px;
    height: 30px;
    color: #1F7021;
    font-size: 20px;
    text-align: center;
}

body > div:nth-child(5) > div {
    width: 175px;
    height: 30px;
    color: #1F7021;
    font-size: 20px;
    text-align: center;
}

body > div:nth-child(1) > div:hover,
body > div:nth-child(2) > div:hover,
body > div:nth-child(3) > div:hover,
body > div:nth-child(4) > div:hover,
body > div:nth-child(5) > div:hover {
    color: #F5221E;
}