form {
    position: static;    
}

body > form > div:nth-child(1),
body > form > div:nth-child(2),
body > form > div:nth-child(3) {
  display: none;
}

body > form > div:nth-child(4) {
    display: block;
}

body > form > div:nth-child(4) > label:nth-child(9) > textarea,
body > form > div:nth-child(4) > label:nth-child(1) > input[type=text] {
width: 100%;
}    