body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    position: relative;    
}

body > form > div:nth-child(1),
body > form > div:nth-child(3) {
    position: absolute;
}

body > form > div:nth-child(1) {
    width: 220px;
}

body > form > div:nth-child(2) {
    padding-left: 220px;
}

body > form > div:nth-child(3),
#article_title,
#article_text {
    width: 100%;
} 

body > form > div:nth-child(3) {
    top: 95px;
}

body > form > div:nth-child(4) {
    display: none;
}

@media screen and (max-width: 650px) {
    form {
        position: static;    
    }
    body > form > div:nth-child(1),
    body > form > div:nth-child(2),
    body > form > div:nth-child(3) {
      display: none;
    }
    body > form > div:nth-child(4) {
        display: block;
    }
    body > form > div:nth-child(4) > label:nth-child(9) > textarea,
    body > form > div:nth-child(4) > label:nth-child(1) > input[type=text] {
    width: 100%;
    }    
}